skywalking-sdk-plugin/spring-plugin/src/main/resources/META-INF/skywalking.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://cloud.asiainfo.com/schema/skywalking"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cloud.asiainfo.com/schema/skywalking">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />

	<xsd:element name="trace" type="traceType">
	</xsd:element>

	<xsd:complexType name="traceType">
		<xsd:attribute name="packageExpression" type="xsd:string" use="required" />
		<xsd:attribute name="classExpression" type="xsd:string" use="optional" default="*" />
	</xsd:complexType>
</xsd:schema>